h1{
    color: orange;
    text-align: center;
    letter-spacing: 5px;
    font-weight: normal;
    font-size: 50px;
    margin-bottom: 10px;
}
h2{
    text-align: center;
    font-weight: normal;
    font-size: 25px;
    margin-top: 10px;
}
#div1{
    width: auto;
    height: 160px;
    box-shadow: 0px 2px 5px lightgray inset;
    display: flex;
    justify-content: center;
    align-items: center;

}
#population{
    background-color: orange;
    height: 40px;
    width: 150px;
    border: orange;
    border-radius: 4px;
    margin-right: 20px;
    margin-bottom: 20px;
}
#languages{
    background-color: orange;
    height: 40px;
    width: 150px;
    border: orange;
    border-radius: 4px;
    margin-bottom: 20px;
    
}
h3{
    position: absolute;
    margin-top: 120px;
    font-weight: normal;
}
#div2{
    width: auto;
    height: 600px;
    box-shadow: 0px 5px 8px lightgray inset;
    display: flex;
    margin-top: 15px;

}
.dil{
    text-align: right;
    position: relative;
    margin-left:160px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-top: 30px;
    width: 210px;
    height: 26px;
    font-size: 20px;


}
.Progress_Status {
    position: absolute;
    width: 1000px;
    background-color: rgba(221, 221, 221, 0.74);
    border-radius: 10px 10px 10px 10px;
    position:absolute;
    margin-left: 400px;
  }
    
.myprogressBar {
    width: 0%;
    height: 30px;
    border-radius: 10px;

    background-color: orange;
    
  }
#pg1{margin-top: -532px;}
#pg2{margin-top: -476px;}
#pg3{margin-top: -420px;}
#pg4{margin-top: -364px;}
#pg5{margin-top: -308px;}
#pg6{margin-top: -252px;}
#pg7{margin-top: -196px;}
#pg8{margin-top: -140px;}
#pg9{margin-top: -84px;}
#pg10{margin-top: -28px;}

.number{
    position:absolute;
    margin-left: 1450px;
    width: 200px;
    height: 26px;
    font-size: 20px;
    
}
#pn1{
    margin-top:-530px;
}
#pn2{
    margin-top:-474px;
}
#pn3{
    margin-top:-418px;
}
#pn4{
    margin-top:-362px;
}
#pn5{
    margin-top:-306px;
}
#pn6{
    margin-top:-250px;
}
#pn7{
    margin-top:-194px;
}
#pn8{ 
    margin-top:-138px;
}
#pn9{
    margin-top:-82px;
}
#pn10{
    margin-top:-26px;
}



